# Xcode
xcuserdata/
DerivedData/

# Tuist
/Derived/
.tuist-generated/

# CocoaPods
Pods/

# Swift Package Manager
.build/

# 기타 일반적인 무시 항목
.DS_Store
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/